.formWrap {
    position: relative;
    width: 320px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: orange;
    box-shadow: 6px 6px 9px -1px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 6px 6px 9px -1px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 6px 6px 9px -1px rgba(0, 0, 0, 0.47);
    margin-bottom: 15px;
  }
  
  .input {
    margin-left: 15px;
    border-radius: 5px;
    background-color: #f4f7d4;
    border: 1px solid goldenrod;
    padding: 3px;
  }
  
  .input:hover,
  .input:focus {
    border: 1px solid green;
  }
  
  .btnAdd {
    width: 100px;
    height: 80px;
    cursor: pointer;
    border: 2px solid green;
    /* border-radius: 10px; */
    box-shadow: 6px 6px 9px -1px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 6px 6px 9px -1px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 6px 6px 9px -1px rgba(0, 0, 0, 0.47);
    font-weight: 900;
    background-color: green;
    color: white;
    font-family: italic;
    margin: 5px;
  }
  
  .btnAdd:hover,
  .btnAdd:focus {
    cursor: pointer;
    border: 2px solid purple;
    background-color: purple;
    border-radius: 10px;
  }

  .label {
  font-weight: 600;
  }